body {
  background-color: rgb(20, 20, 20);
  font-family: Cabin, sans-serif;
}

/* Start screen */
div.startScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

div.startScreen > h3 {
  color: rgb(63, 63, 63);
  margin-top: 0px;
  font-weight: 400;
}

h1.typerWord {
  color: #6666cc;
  font-weight: 700;
  font-style: italic;
  font-size: 200px;

  margin-top: 0px;
  margin-bottom: 70px;
}

/* Typing Test */
.typingTestWords {
  color: #6666cc;
  width: 800px;
  font-size: 50px;
}

@keyframes typedWord {
  from {
    color: #6666cc;
  }
  to {
    color: rgb(76, 145, 76);
  }
}

span.typed {
  animation-name: typedWord;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
}

@keyframes animateMistake {
  0%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
}

span.mistake {
  display: inline-block;
  animation: animateMistake;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  color: rgb(156, 58, 58);
}

.currentLetter {
  color: #444488;
}


/* Hidden input */
.hiddenInput {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  border: none;
  outline: none;
  background: transparent;
  caret-color: transparent;
  cursor: default;
}