body {
  background-color: rgb(20, 20, 20);
  font-family: Cabin, sans-serif;
}

/* Start screen */
div.startScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

div.startScreen > h3 {
  color: rgb(63, 63, 63);
  margin-top: 0px;
  font-weight: 400;
}

h1.typerWord {
  color: #6666cc;
  font-weight: 700;
  font-style: italic;
  font-size: 200px;

  margin-top: 0px;
  margin-bottom: 70px;
}

div.timeButtons {
  display: flex;
  margin-top: 100px;
  gap: 30px;
}

button.timeButton, .resetButton {
  width: 100px;
  height: 30px;
  background-color: rgb(20, 20, 20);
  border: 2px solid #444488;
  border-radius: 15px;
  color: rgb(129, 129, 129);
  font-family: Cabin, sans-serif;
  font-size: 15px;
  z-index: 1;
  cursor: pointer;
}

button.selected {
  background-color: #6666cc;
  color: rgb(255, 255, 255);
}

button.timeButton:hover, .resetButton:hover {
  background-color: #414179;
  color: white;
}

/* Typing Test */
.typingTestdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainGameTest {
  font-size: 50px;
  color: #6666cc;

  margin-top: 30vh;

  width: 80vw;
  overflow: hidden;
  height: 190px;
}

.timer {
  margin-top: 15vh;
  color: rgb(63, 63, 63);
  font-weight: 400;
}

@keyframes typedWord {
  from {
    color: #6666cc;
  }
  to {
    color: rgb(76, 145, 76);
  }
}

span.typed {
  animation-name: typedWord;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
}

@keyframes animateMistake {
  0%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
}

span.mistake {
  display: inline-block;
  animation: animateMistake;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  color: rgb(156, 58, 58);
}

.currentLetter {
  color: #444488;
}

/* Statistics */
.statistics {
  color: white;
}


/* Hidden input */
.hiddenInput {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  border: none;
  outline: none;
  background: transparent;
  caret-color: transparent;
  cursor: default;
}